body {
	width: auto;
	background: black;
	padding: 0;
	margin: 0;
	color: black;
    font-family: 'PT Sans', sans-serif;
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1003px;
	margin: 0 auto; 
}
.header {
	background: black;
}
.top {
	display: flex;
	align-items: center;
}
.text{
	margin-left: 20px;
	color: grey;
	display: block;
}
.login{
	margin-left: auto;
	margin-bottom: 0px;
}
img .login{
	margin-left: auto;
}
a{
	margin-left: 8px;
	text-decoration: none;
	color: grey
}
.header2{
	background: #0F0F0F;
	height: 70px;
	align-items: center;
}
.logo{
	color: #FFF;
	font-size: 36px;
	font-family: 'Libre Caslon Display', serif;
	text-transform: uppercase;
}
.header2 .container{
	display: flex;
	padding-top: 10px;
	justify-content: space-between;

}
.menu{
	display: flex
}
.menu li{
	display: flex;
	width: auto;
	height: 70px;
	justify-content: center;
}
.menu li:hover{
	background: #1F1F1F;
	color: white;
	cursor: pointer;
}
.menu li a{
	display: flex;
	text-transform: uppercase;
	font-size: 14px;
	justify-content: center;
	align-items: center;
	margin-left: -3px;
	padding: 0 30px;
}
li.cab{
	width: auto;
}
li.cab a{
	padding: 0 20px;

}
.menu li a:hover{
    color: white;
}
.nav{
	display: flex;
	margin-left: auto;
	margin-top: -9px;
}
.search{
	margin-top: -9px;
	margin-left: 10px;
}
.mainpage{
	background: url('../img/main.png') no-repeat center top;
	justify-content: center;
}

.mainpage .text{
	display: flex;
	justify-content: center;
	font-size: 16px;
	color: #FFF;
	width: 730px;
	height: 96px;
	text-transform: uppercase;
	text-align: center;
}
.mainpage .logo{
	display: flex;
	justify-content: center;
	padding-top: 160px;
	padding-bottom: 80px;
}
.textarea{
	display: flex;
	justify-content: center;
	padding-bottom: 164px;
}
.season{
	width: 820px;
	background: #000;
}
.season .season{
	display: flex;
	justify-content: center;
}
h1{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	color: white;
	text-transform: uppercase;
	width: 376px;
	text-align: center;
	padding-top: 93px;
	margin-bottom: 0;
	padding-bottom: 0;
}
hr{
	color: #FFF;
	width: 120px;
	margin-top: 40px;
}
.images{
	display: flex;
	justify-content: center;
	margin: auto;
}
.picture{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #191B1C;
	width: 200px;
	height: 240px;
	margin-top: 50px;
}
.group{
	display: flex;
	flex-direction: center;
	flex-direction: column;
	margin-right: 35px;
}
.picture img{
	width: 170px;
	height: 170px;
}
.name, .price{
	color: #fff;
	margin-top: 25px;
	font-family: 'Playfair Display', serif;
}
.price{
	margin-top: 15px;
}
.new{
	background: url(../img/man.png) no-repeat;
	margin-top: -5px;
	width: 699px;
}
.new h1{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding-top: 400px;
	margin-bottom: 0;
	padding-bottom: 0;	
}
.new hr{
	margin-top: 20px;
}
.mainarea{
	display: flex;
	height: 650px;
}
div.new{
	display: flex;
	justify-content: center;
}
.button{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: 30px;
}
.katalog{
	border: solid #fff 1px;
	padding: 12px 28px;
	border-radius: 4px;
	transition: color .4s linear;
	transition: background .3s linear;
}
.katalog:hover{
	background: #e3e5e4;
	color: #000;
	border: solid #fff 1px;
	cursor: pointer;
}
.imageman img{
	width: 680px;
}
.block3{
	display: flex;
}
.collection{
	background: #000;
	color: #fff;
	width: 800px;
}
.collection h1{
	font-weight: normal;
	text-align: center;
}
.collectiontwo{
	display: flex;
	justify-content: center;
}
.collection hr{
	margin-top: 20px;
}
.text2{
	width: 400px;
	text-align: center;
}
.button2{
	display: flex;
	justify-content: center;
}
.textarea2{
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
.button2{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: 30px;
}
.view{
	border: solid #fff 1px;
	padding: 12px 28px;
	border-radius: 4px;
	transition: color .4s linear;
	transition: background .3s linear;
}
.view:hover{
	background: #e3e5e4;
	color: #000;
	border: solid #fff 1px;
	cursor: pointer;
}
.newproducts2{
	display: flex;
	justify-content: center;
}
.newproducts2 h1{
	width: 600px;
}
.block4{
	padding-bottom: 130px;
}
.block4 .container{
	display: flex;
	justify-content: center;
	justify-content: space-between;
}
.block5{
	background: #0F0F0F;
	padding-bottom: 70px;
}
.brands{
	display: flex;
	justify-content: center;
}
.block5 .container{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

footer{
	background: url(../img/lastphoto.png) no-repeat center top;
}
footer .container{
	display: flex;
}
.container .group{
	margin-right: 0;
}
.columnone{
	margin-right: 90px;
}
h2{
	font-family: 'Playfair Display';
	font-weight: normal;
	font-size: 24px;
	color: white;
	text-width: normal;
	text-transform: uppercase;
	text-align: left;
	padding-top: 93px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.text3{
	color: #fff;
	font-size: 14px;
	width: 270px;
	margin-top: 40px;
}
.columntwo{
	width: 500px;
}
.qwerty{
	margin-top: 52px;
	width: 400px;
	height: 200px;
}
.categories{
	display: inline;
	text-align: center;
	background: black;
	color: white;
	font-size: 14px;
	border: solid grey 1px;
	border-radius: 4px;
	padding: 10px 20px;
	margin-right: 20px;
}
.secondgroup{
	margin-top: 40px;
}
.text4{
	color: #fff;
	font-size: 14px;
	width: 270px;
	margin-top: 40px;
}
.mail{
	display: flex;
	margin-top: 20px;
}
input{
	background: rgba(255, 255, 255, 0.4);
	padding: 7px 0px 7px 10px;
	color: white;
}
input::-webkit-input-placeholder{ color: white
}
.button3{
	display: inline;
	background: black;
	border: solid grey 1pxs;
	padding: 10px 20px;
}
.subscr{
	color: #fff;
}
